@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: 0;
  background: #f85b00;
  filter: blur(175px);
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 238px;
  top: -6rem;
  right: 0px;
  background: #7aebfb;
  filter: blur(190px)
}